extends ../layouts/main.pug
block content
    .container
        header
            h1= title

        div
            table.table.table-striped
                thead
                        tr
                            th Title
                            th Completion Status
                            th Actions

                tbody
                    each task in tasks
                        tr
                            td
                                a(href=`/tasks/${task.id}`)= task.title
                            td= task.status
                            td 
                                a(href=`/tasks/${task.id}/edit`, method="POST") edit
                                = " | "
                                form.destroy(action="/task/destroy", method="POST")
                                    input(type="hidden", name="id", value=task.id)
                                    input(type="submit", value="delete")
                                    